<!-- <% if(isClass){ %>
<div class="floating-chat">
    <i class="fa fa-comments" aria-hidden="true"></i>
    <div class="chat">
        <div class="header">
            <span class="title">
                مناقشة الفصل
            </span>
            <button>
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>

        </div>
        <ul class="messages">
        </ul>
        <div class="footer">
            <div class="text-box" contenteditable="true" disabled="true"></div>
            <button id="sendMessage">إرسال</button>
        </div>
    </div>
</div>
<% } %> -->