<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>التعليم الرقمي - <%= title %></title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <link rel="stylesheet" href="/public/css/cooltipz.css" type="text/css">  
    <link rel="icon" href="/public/images/moe.png" type="image/png">
    <script src="/public/js/bootstrap.bundle.min.js" defer="true" type="text/javascript"></script>
    <script src="/public/js/all.min.js" defer="true" type="text/javascript"></script>
    <script src="/public/js/jquery.min.js" defer="true" type="text/javascript"></script>
    <!-- <script src="/public/js/moment.min.js" defer="true" type="text/javascript"></script> -->
    <script src="/public/js/script.js" defer="true" type="text/javascript"></script>
</head>
