<nav class="navbar-cs">
    <ul class="navbar-cs-nav">
        <li class="logo">
            <a href="/" class="nav-cs-link">
                <span class="link-text logo-text">التعليم الرقمي</span>
                <img src="/public/images/moe.png" alt="logo">
            </a>
        </li>

        <li class="nav-cs-item" aria-label="الصفحة الرئيسية">
            <a href="/" class="nav-cs-link">
                <i class="fa-solid fa-house"></i>
                <span class="link-text">الصفحة الرئيسية</span>
            </a>
        </li>

        <li class="nav-cs-item" aria-label="الدروس">
            <a href="/study" class="nav-cs-link">
                <i class="fa-solid fa-book"></i>
                <span class="link-text">الدروس</span>
            </a>
        </li>

        <li class="nav-cs-item" aria-label="الفصول">
            <a href="/classes" class="nav-cs-link">
                <i class="fa-solid fa-graduation-cap"></i>
                <span class="link-text">الفصول</span>
            </a>
        </li>
        <% if(!user){ %>
        <li class="nav-cs-item" aria-label="تسجيل الدخول">
            <a href="/login" class="nav-cs-link">
                <i class="fa-solid fa-right-to-bracket"></i>
                <span class="link-text">تسجيل الدخول</span>
            </a>
        </li>
        <% }else{ %>
        <li class="nav-cs-item" aria-label="الحساب">
            <a href="/account" class="nav-cs-link">
                <i class="fa-solid fa-user"></i>
                <span class="link-text"><%= user.username %></span>
            </a>
        </li>
        <% } %>
    </ul>
</nav>